{% extends "layout.html" %}

{% block body %}

  <h1>
      
    
      {% for error in form.rank.errors %}
     <li>{{ error }}</li>
     {% endfor %}
     
      
    </h1>
  <table>
    <tr>
      <th>Thing to remember</th> 
      <th>Rank</th>  
      
      
    </tr>
    {% for thing in things %}
    <tr>
      <td>{{ thing.name }}</td>
      <td>{{ thing.rank }}</td>
      <form method="POST" action="{{ url_for('thing_change_rank',thing_id=thing.id) }}">
        
        <td>
          {{ form.rank }}
        </td>

        
        <td colspan="2">
          <input type="submit" value="Edit rank"/>
        </td>
      </form>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
