{% extends "layout.html" %}

{% block body %}

<table>
  {% for thing in things %}

  <style>
            td {
                
                
                padding-bottom: 50px;
                
            }
            
        </style>
  <tr>
    <th>Muistettava asia</th>
    <th>Kuvaus</th>
    <th>Tärkeys</th>
    <th>Teemat</th>
    <th>Asian id</th>
    <th>Asian tärkeyden id</th>
    <th>Asian tekijän id</th>
    <th>Asian luontiajankohta</th>
    <th>Asian muokkausajankohta</th>



  </tr>

  <tr>
    <td>{{ thing.name }}</td>
    <td>{{ thing.description }}</td>
    <td>
    {% for rank in ranks %}
    {% if thing.rank_id == rank.id %}
      {{rank.name}}
    {% endif %}
    {% endfor %}
    </td>
    <td>
      {% for thingtheme in thingthemes %}
      {% if thingtheme.thing_id == thing.id %}
      {% for theme in themes %}
      {% if thingtheme.theme_id == theme.id %}
      {{theme.name}}
      {% endif %}
      {% endfor %}
      {% endif %}
      {% endfor %}
    </td>
    <td>{{ thing.id }}</td>
    <td>{{ thing.rank_id }}</td>
    <td>{{ thing.account_id }}</td>
    <td>{{ thing.date_created }}</td>
    <td>{{ thing.date_modified }}</td>

  </tr>
</table>
<h3>Muokkaa tietoja</h3>
<form method="POST" action="{{
  url_for('thing_change_description',thing_id=thing.id) }}">
  <p>
    {{ form.description.label }}
  </p>
  <p>
    {{ form.description(class="form-control" , placeholder="Osta kanaa",
    cols="5", rows="5")}}
  </p>
  <p>
    <ul>
      {% for error in form.description.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </p>

  <p>
    {{ form.rank.label }}
  </p>
  <p>
    {{ form.rank(class="form-control") }}
  </p>
  <p>
    <ul>
      {% for error in form.rank.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </p>
  <p>
    {{ form.themes.label }} (Valitse useampi pitämällä Ctrl pohjassa)
  </p>
  <p>
    {{ form.themes(class="form-control") }}
  </p>
  <p>
    <ul>
      {% for error in form.themes.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </p>


  <p colspan="2">
    <input class="btn btn-primary" type="submit" value="Muokkaa tietoja" />
  </p>
</form>





{% endfor %}



{% endblock %}
