{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('themes_create') }}">
  <table>
    <tr>
      <td>
        {{ form.name.label }}
      </td>
      <td>
        {{ form.name(class="form-control" , placeholder="Asiat") }}
      </td>
      <td>
        <ul>
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <input class="btn btn-primary" type="submit" value="Lisää uusi teema" />
      </td>
    </tr>
  </form>
  {% endblock %}
