{% extends "layout.html" %}

{% block body %}
{{ error }}
<form method="POST" action="{{ url_for('auth_login') }}">
  <table>
    <tr>
      <td>
	{{ form.username.label }}
      </td>
      <td>
	{{ form.username(class="form-control" , placeholder="Teppo") }}
      </td>
    </tr>
    <tr>
      <td>
	{{ form.password.label }}
      </td>
      <td>
	{{ form.password(class="form-control" , placeholder="********") }}
      </td>
    </tr>
    <tr>
      <td colspan="2">
	<input class = "btn btn-primary" type="submit" value="Login"/>
      </td>
    </tr>
</form>
<p>
            <a href="{{ url_for('account_form') }}">Luo tunnus</a>
</p>

{% endblock %}
